<footer>
  <small>
    This project is maintained by <a href="https://heyjunebug.com">June Lin Umfress</a>.
    Check out the <a href="{{ pkg.repository.url }}">original GitHub repo</a>.
  </small>
</footer>
